$primary: #02254a;
$secondary: #076ddc;
$warning: #fbbc05;
$white: #ffffff;
$light-100: #f5f5f5;
$light-200: #fbfbfb;
$light-300: #ecdfd5;
$light-400: #f1eae5;
$light-500: #e7e7e7;
$neutral: #333;
$secondary-light-100: #d5e6f9;
$small-font-size: 14px;



